@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Boas Vindas</h1>
    <p>Essa é uma aplicação de agenda desenvolvida com ASP.NET Core para o <a target="_blank" href="https://www.iatec.com/">IATec</a>.</p>
</div>
